img.logo {
    padding-top: 2px;
    width: 128px;
    float: right;
}

img.small_logo {
    height: 50px;
}

img.logo-large {
    height: 150px;
}

.css-treeview .nav > li > a {
  padding: 0px;
}

label.category {
 font-weight: normal;
}


.highlight .hll { background-color: #ffffcc }
/* .highlight  { background: #f8f8f8; } */
.highlight .c { color: #408080; font-style: italic } /* Comment */
/* .highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

.highlighttable {
    width: 100%
}


.background {
    min-height: 100%;
    position: relative;
}

body, html {
    height: 100%;
    line-height: normal;
    font-family: sans-serif;
    font-size: medium;
}

pre code {
    font-size: smaller;
}


.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background-color: black;
}

.category-link {
  color: #337ab7;
}

.category-directory-link {
  color: #FD2727;
}


.page-background {
    padding-top: 50px;
    padding-bottom: 50px;
}

.embedded_doc {
    padding-top: 50px;
}

.XXXbtn {
  color:#428bca;
  margin: 0 0 2px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Open Sans";
  font-weight: 600;
  height: auto;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
}

.Xbtn:hover, .Xbtn:focus {
  color: black!important;
  border: 1px solid #ddd!important;
  background: white!important;
}

.improve-docs {
    float: right;
}

.plugins {
  color:#428bca;
  margin: 0 0 2px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  min-height: 0;
  font-family: "Open Sans";
  font-weight: 600;
  height: auto;
}

.plugins  li  a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.plugins_args table tr td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.docs-search {
    margin: 10px 0;
    padding: 4px 0 4px 20px;
    background: white;
    border-radius: 20px;
    vertical-align: middle;
    float:right;
}

.docs-search > .search-query {
    font-size: 14px;
    border: 0;
    width: 80%;
    color: #555;
}

.docs-search > .search-icon {
font-size: 15px;
margin-right: 10px;
}



.hero-unit {
  padding:100px 80px;
  margin:0;
}

.center {
  text-align: center;
}

.hero-unit h1 {
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin: 0;
  font-size: 30px;
  color: #535353;
  font-family: 'helvetica neue', Helvetica, Arial;
  font-weight: 300;
}

.hero-unit .btn-large {
  font-size: 22px;
  font-family: Helvetica;
  font-weight: lighter;
}

.stage-buttons .btn {
  margin:5px!important;
}

.about-container {
  padding:30px 0 50px;
}

.about-cell h1 {
    margin-top: 0px;
}

.dropdown-toggle {
    cursor: pointer;
}

.navigator {
    overflow-y: auto;
    height: 100%;
    margin-top: 55px;
    margin-bottom: 50px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}


.bs-docs-sidebar > ul {
    overflow-y: auto;
    height: 100%;
}

.rekall-side-nav {
    height: 100%;
    padding-left: 5px;
    max-width: 9%;
}

.anchor {
    padding-top: 50px;
    margin-top: -50px;
}

.plugin_description {
    padding: 20px;
    padding-bottom: 60px;
    margin: 20px 0;
    border: 1px solid rgba(91, 192, 222, 0.36);
    border-left-width: 5px;
    border-radius: 3px;
}

.highlight pre {
    padding: 10px;
    background-color: rgba(207, 207, 207, 0.08);
    color: black;
    display: flex;
}

.epydoc_link {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}