include version.py
include version.yaml
include README.md
include _version.py

recursive-include resources *
recursive-include src *.c *.h *.py
recursive-include test_data *
recursive-exclude tools *.a *.la *.lo *.o
recursive-exclude .git *
recursive-exclude build *
recursive-exclude tools/pmem/.deps *
exclude tools/pmem/linpmem