include AUTHORS.txt CREDITS.txt LEGAL.txt LICENSE.txt README.txt
exclude .gitignore
exclude *.pyc
#recursive-include contrib *
recursive-include docs *
recursive-include resources *
recursive-include src *.c *.h *.py
recursive-include test_data *
recursive-include tools *
recursive-include resources *
recursive-exclude rekall *.pyc
recursive-exclude tools *.a *.la *.lo *.o
