<ul>
<li>Manual
  <ul>
{% for p in site.pages | sort: 'title' %}
  {% if p.category == "manual"%}
 <li><a href='{{p.url}}'>{{p.title}}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</li>
</ul>

<ul>
<li>Plugins
  <ul>
{% for p in site.pages | sort: 'title' %}
  {% if p.category == "plugins"%}
 <li><a href='{{p.url}}'>{{p.title}}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</li>
</ul>

<ul>
<li>Tools
  <ul>
{% for p in site.pages | sort: 'title' %}
  {% if p.category == "tools"%}
 <li><a href='{{p.url}}'>{{p.title}}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</li>
</ul>

<ul>
<li>Developers
  <ul>
{% for p in site.pages | sort: 'title' %}
  {% if p.category == "developers"%}
 <li><a href='{{p.url}}'>{{p.title}}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</li>
</ul>

<ul>
<li>References
  <ul>
{% for p in site.pages | sort: 'title' %}
  {% if p.category == "references"%}
 <li><a href='{{p.url}}'>{{p.title}}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</li>
</ul>
