

# Built targets
# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
# Executables
# Fortran module files
# Precompiled Headers
# autoconf related files.
# autoconf related files.
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.so
*.zip
*_test
*~
.depend
.deps
.libs
/autom4te.cache
/pmem-0.1.tar.gz
Makefile
autom4te.cache
config.h
config.log
config.status
doxygen/
libtool
linpmem
osxpmem
pmem_imager
stamp-h1
test_filename.bin
winpmem.exe

# deployable package
deploy/
osxpmem.zip

# Usual m4 macros from libtool.
m4/lt*
m4/libtool.m4

aclocal.m4
ar-lib
compile
config.*
depcomp
install-sh
missing

Makefile.in
configure
ltmain.sh
