#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

override_dh_strip:
	dh_strip --exclude=ffi

override_dh_virtualenv:
	dh_virtualenv --python python2.7 --preinstall 'setuptools>20' --preinstall 'pip>=8.1.1,<9' --preinstall 'wheel'
