{% include head.html %}
<div class="container-fluid">
<div class="row-fluid">
  <div class="span2">
    {% include nav.html %}
  </div>
  <div class="span8" >
    {{ content }}
    {% if page.download %}
      <a href='{{ page.download }}' >Download</a>
    {% endif %}
    <iframe src="{{ page.target }}" width="100%">
    </iframe>
  </div>
  <div class="span2 sidebar">
    {% include plugin_nav.html %}
  </div>
</div>
</div>
<script>
  $(window).resize(function(){
    var height = $(window).height() - 100;
    $('iframe').height(height);
  });

  $(window).resize();
</script>

{% include foot.html %}

